extends layout

block content
    .header
        a(href="/logout") Log out
    .welcome-box
        h2 #{message}
        
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 styleclass="display-5 fw-bold" style="color:Tomato;"><center><strong>Not-A-Dollar</strong></h1>
            <img src="/stylesheets/Homepix.jpg" class="img-fluid" id="center">
            <p class="col-md-8 fs-4"><center><br>Not-A-Dollar is a ecommerce website that works just like an online convenience store.We prioritize the sales of convenience items ranging from snacks and drinks to paper towels other toiletries all ranging in prices and quantity but none costing under a dollar. Everything is always ready to order and all you have to do is create an account with us to begin your shopping.</p>
        </div>
        <button class="btn btn-primary btn-lg"  onclick="window.location.href='/product'">Product page
      
        
            
      
        
        